term = xterm-256color

# Workaround for pasting texts from clipboard into search bar
# ref: https://github.com/ghostty-org/ghostty/issues/10749#issuecomment-4131892831
keybind = super+v=paste_from_clipboard

font-size = 20

# Multiply scroll speed
mouse-scroll-multiplier = 3

# switch tab
keybind = cmd+left=previous_tab
keybind = cmd+right=next_tab
keybind = cmd+shift+left=move_tab:-1
keybind = cmd+shift+right=move_tab:1

# cursor
cursor-style = block
cursor-style-blink = false
mouse-hide-while-typing = true

# treat option key on mac is a real alt key
macos-option-as-alt = left
keybind = alt+left=unbind
keybind = alt+right=unbind

# Copy directly to system clipboard on mouse selection
copy-on-select = clipboard
