term = xterm-256color

font-size = 18

# Multiply scroll speed
mouse-scroll-multiplier = 3

# switch tab
keybind = cmd+left=previous_tab
keybind = cmd+right=next_tab
keybind = cmd+shift+left=move_tab:-1
keybind = cmd+shift+right=move_tab:1

# cursor
cursor-style = block
cursor-style-blink = false
mouse-hide-while-typing = true

# treat option key on mac is a real alt key
macos-option-as-alt = left
keybind = alt+left=unbind
keybind = alt+right=unbind
